/*--  Font Veriables  --*/
$roboto                     :   "Roboto";
$roboto_light               :   "Roboto Light";
$roboto_medium              :   "Roboto Medium";
$fone_regular               :   "fjallaone Regular";
$sacramento                 :   "Sacramento", cursive;

/*--  Color Variables  --*/
$white                      :   #ffffff;
$black                      :   #000000;
$theme_color                :   #FFC0CC;
$theme_color1               :   #80ACBB;
$header_bg                  :   #1a2734;
$subheader_bg               :   #0cb199;
$sidebar_bg                 :   #1e2f37;
$grey_bg                    :   #283c45;
$grey                       :   #3b5059;
$grey_1                     :   #354851;
$dark_grey                  :   #384b59;
$light_grey                 :   #49626d;
$blue                       :   #315c7f;
$light_blue                 :   #4294d9; 
$grey_text                  :   #8b9fa8;
$light_grey_text            :   #b0bbbf;
$tags_color                 :   #596d76;
$green                      :   #5cb024;